MOMO.DB/MOMO.mdf
MOMO.DB/MOMO_log.ldf
MOMO.APP/bin/*
MOMO.APP/obj/*
MOMO.Core/bin/*
MOMO.Core/obj/*
MOMO.Domain/bin/*
MOMO.Domain/obj/*
MOMO.EventBus/bin/*
MOMO.EventBus/obj/*
MOMO.Infrastructure/bin/*
MOMO.Infrastructure/obj/*
MOMO.Respository.EFCore/bin/*
MOMO.Respository.EFCore/obj/*
MOMO.Test/bin/*
MOMO.Test/obj/*
MOMO.Web/bin/*
MOMO.Web/obj/*
MOMO.Web/wwwroot/lib/*
MOMO.Web/bower_components/*
