
*.dll
*.pdb
*.cache
*.dll
MOMO.DB/MOMO.mdf
MOMO.DB/MOMO_log.ldf
*.lut
*.txt
*.txt
*.txt
*.ide
*.ide-shm
*.ide-wal
*.sqlite
.vs/VSWorkspaceState.json
MOMO.APP/bin/Debug/netstandard2.0/MOMO.APP.deps.json
MOMO.APP/bin/Debug/netstandard2.0/MOMO.APP.dll
MOMO.APP/bin/Debug/netstandard2.0/MOMO.APP.deps.json
MOMO.APP/bin/Debug/netstandard2.0/MOMO.APP.dll
MOMO.APP/bin/Debug/netstandard2.0/MOMO.APP.pdb
*.dll
*.pdb
MOMO.APP/obj/MOMO.APP.csproj.nuget.cache
MOMO.Core/obj/Debug/netstandard2.0/MOMO.Core.csproj.FileListAbsolute.txt
MOMO.Core/obj/Release/netstandard2.0/MOMO.Core.AssemblyInfo.cs
MOMO.Domain/bin/Debug/netstandard2.0/MOMO.Domain.dll
MOMO.Domain/bin/Debug/netstandard2.0/MOMO.Domain.pdb
MOMO.Domain/obj/Debug/netstandard2.0/MOMO.Domain.csproj.CoreCompileInputs.cache
MOMO.Domain/obj/Release/netstandard2.0/MOMO.Domain.AssemblyInfo.cs
MOMO.EventBus/obj/Release/netstandard2.0/MOMO.Event.AssemblyInfo.cs
MOMO.Infrastructure/obj/Release/netstandard2.0/MOMO.Infrastructure.AssemblyInfo.cs
MOMO.Respository.EFCore/obj/Release/netstandard2.0/MOMO.Respository.EFCore.AssemblyInfo.cs
MOMO.Test/obj/Release/netcoreapp2.0/MOMO.Test.AssemblyInfo.cs
MOMO.Test/obj/Release/netcoreapp2.0/MOMO.Test.Program.cs
MOMO.Web/bower_components/bootstrap/.bower.json
MOMO.Web/bower_components/bootstrap/bower.json
MOMO.Web/bower_components/bootstrap/CHANGELOG.md
MOMO.Web/bower_components/bootstrap/dist/css/bootstrap-theme.css
MOMO.Web/bower_components/bootstrap/dist/css/bootstrap-theme.css.map
MOMO.Web/bower_components/bootstrap/dist/css/bootstrap-theme.min.css
MOMO.Web/bower_components/bootstrap/dist/css/bootstrap-theme.min.css.map
MOMO.Web/bower_components/bootstrap/dist/css/bootstrap.css
MOMO.Web/bower_components/bootstrap/dist/css/bootstrap.min.css
MOMO.Web/bower_components/bootstrap/dist/css/bootstrap.css.map
MOMO.Web/bower_components/bootstrap/dist/css/bootstrap.min.css.map
MOMO.Web/bower_components/bootstrap/dist/css/bootstrap.min.css.map
MOMO.Web/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot
MOMO.Web/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.svg
MOMO.Web/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff
MOMO.Web/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf
MOMO.Web/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2
MOMO.Web/bower_components/bootstrap/dist/js/bootstrap.js
MOMO.Web/bower_components/bootstrap/dist/js/bootstrap.min.js
MOMO.Web/bower_components/bootstrap/dist/js/npm.js
MOMO.Web/bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot
MOMO.Web/bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg
